/* Colors */
a:active,
a:hover,
a:visited {
  color: inherit;
}

a:active {
  text-decoration: none;
}

#principal-text-section {
  margin: 0 50px;
  background-color: white;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#principal-section {
  background: -webkit-gradient(linear, left top, left bottom, from(#aee664), to(#9198e5));
  background: linear-gradient(#aee664, #9198e5);
  height: 100%;
  margin: 50px;
  font-family: "Darker Grotesque", sans-serif;
}

h1 {
  background-color: #BDD358;
  width: 250px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-family: "Muli", sans-serif;
}

.text {
  font-size: 17px;
  letter-spacing: 3px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  z-index: 1;
  width: 100%;
  background-color: transparent;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.nav-list {
  list-style: none;
  margin: 0 20px;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
}

.nav-list:hover {
  cursor: pointer;
  border-bottom: 1.2px solid black;
}

header {
  width: 100%;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.img {
  width: 100%;
  position: relative;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  z-index: -1;
}

.btn-start {
  width: 150px;
  height: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  z-index: 1;
  position: absolute;
  background-color: transparent;
  top: 68%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 25px;
  line-height: 30px;
  border: 2px solid white;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.btn-start:hover {
  background-color: white;
  color: black;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  cursor: pointer;
}

@media (max-width: 850px) {
  header {
    height: 300px;
  }
}

@media (max-width: 550px) {
  .btn-start {
    width: 30%;
  }
}

.question-list {
  cursor: pointer;
  width: 180px;
  height: 40px;
  background-color: #DA4167;
  margin: 10px 10px;
  list-style: none;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in;
  transition: -webkit-box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
  float: left;
  line-height: 39px;
}

.question-list:nth-of-type(3) {
  clear: both;
}

.question-list:hover {
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in;
  transition: -webkit-box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
}

#corgis-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5%;
}

#corgis-container p {
  font-family: "Muli", sans-serif;
  text-align: center;
  font-size: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 5% 4%;
  border-top: 0.5px solid #095256;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-title {
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
}

.footer-container {
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer-list {
  list-style: none;
  font-family: "Darker Grotesque", sans-serif;
  letter-spacing: 3px;
  font-weight: 100;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */