.question-list {
    cursor: pointer;
    width: 180px;
    height: 40px;
    background-color: $option-color-red;
    margin: 10px 10px;
    list-style: none;
    font-family: $important-font;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease-in;
    float: left;
    line-height: 39px;
}

.question-list:nth-of-type(3) {
    clear: both;
}

.question-list:hover {
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    transition: box-shadow 0.3s ease-in;
}

#corgis-container {
    display: none;
    padding-bottom: 5%;
    p {
        font-family: $important-font;
        text-align: center;
        font-size: 20px;
    }
}

.corgis-style-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#full-container {
    display: none;
    box-sizing: border-box;
}

.full-container-style {
    margin: 0 50px;
    background-color: white;
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-option1 {
    font-size: 18px;
}

.continue-btn {
    cursor: pointer;
    background-color: #087F8C;
    border-radius: 15px;
    width: 250px;
    height: 55px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    color: #fff;
    font-weight: 100;
    margin: 10px;
    float: left;
}

.continue-btn:nth-of-type(3) {
    clear: both;
}

.corgis-img {
    width: 300px;
}

#next-corgi {
    background-color: $btn-blue;
}

.btn-for-options {
    background-color: $btn-green;
}

#next-corgi,
.btn-for-options {
    cursor: pointer;
    width: 180px;
    height: 40px;
    margin: 10px 10px;
    list-style: none;
    font-family: $important-font;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease-in;
    float: left;
    line-height: 39px;
    border: none;
}

#next-corgi:hover,
.btn-for-options:hover {
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    transition: box-shadow 0.3s ease-in;
}

